$dark-gray: #666666;
$darker-color: #AC1E1E; // #2D4172;
$dark-color: #D13C3C;
$light-color: #FF8D8D;
$lighter-color:#FFB7B7;
$base-color: #EF6262;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $dark-gray;
  font-size: 16px;
  line-height: 1.6em;
}

.main-content {
  padding-top: 6rem;
}

.container {
  max-width: 800px;
}

#intro {

}

#form {

}

#info {
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $dark-color;
  cursor: pointer;
  box-sizing: border-box;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"], .navbar-link {
  border-color: $dark-color;
  border-width: 2px;
  transition: .15s all ease-in-out;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .navbar-link:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus, .navbar-link:focus {
  background-color: $dark-color;
  border-color: $dark-color;
  color: #fff;

}

.instructions {
  margin: 1.5rem 0 1rem 0;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

#results {
  //font-family: 'Gloria Hallelujah', cursive;
  //font-family: 'Permanent Marker', cursive;
  //font-family: 'Architects Daughter', cursive;
  // Architects+Daughter|Permanent+Marker|Special+Elite",
  //font-family: 'Special Elite', cursive;
  font-family: 'Muli', sans-serif;
  padding: 2rem;
  border: solid 2px $dark-color;
  min-height: 250px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: $dark-color;
  margin-bottom: 16px;
}

#banner-header {
  font-size: 8rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: 'Gloria Hallelujah', cursive;
  color: $dark-color;
}

#banner-subheader {
  font-family: 'Gloria Hallelujah', cursive;
}

textarea.form-control {
  padding: 1rem;
  height: 250px;
  resize: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $light-color;
  outline: 0;
  //box-shadow: 0 0 0 0.2rem rgba(255, 183, 183, 0.25);
  font-family: 'Muli', sans-serif;
}

footer {
  margin-top:5rem;
}

#phrase {
  border: solid 2px $dark-gray;
  font-family: 'Open Sans', sans-serif !important;
}

#phrase:focus {
  box-shadow: none;
}

