<% if results %>
<div class="form-group row">
  <button style="margin-left:15px;"
          class=".button"
          data-clipboard-text="<%= results %> ** Created using jbbrsh.com "
          id="copy-btn">
    copy
  </button>
</div>
<% end %>
