<div class="main-content container">

  <section id="banner">
    <div class="row text-center">
      <div class="col">
        <p id="banner-header">Jbbrsh</p>
        <p id="banner-subheader"> "ji-be-rish" </p>
      </div>
    </div>
  </section>

  <section id="intro">
    <div class="row">
      <div class="col">
        <p class="instructions">

          Not eervynoe can raed tihs ... Rbibush!
          Of csoure tehy can. Can tehy wirte it thugoh?
          Wtih Jbbrsh YOU can :)

          <br>
        </p>
      </div>
    </div>
  </section>

  <section id="main">
    <div class="row">
      <div class="col-6">
        <div id="form">
          <%= form_tag start_path, remote: true do %>

            <div class="form-group">
              <%= text_area_tag :phrase,
                                '',
                                placeholder: 'Go ahead, give it a spin',
                                class: 'form-control',
                                rows:  10
              %>

            </div>

            <div class="form-group" >
              <%= submit_tag "jbbrsh it!", class: 'mb-2' %>
            </div>

          <% end %>
        </div>
      </div>

      <div class="col-6">
        <div id="results">
          <%= render partial: 'pages/results',
                     locals:  {
                         results: nil
                     }
          %>
        </div>
        <div id="action-buttons">
          <%= render partial: 'pages/copy_button',
                     locals:  {
                         results: nil
                     }
          %>
        </div>
      </div>

    </div>
  </section>

  <section id="info">
    <div class="row text-center">
      <p class="col instructions">
        <i> <strong>Pro tip 1:</strong> sunrorud any wrod you dnot wnat jbbrshed wtih an * e.g. *Jenny* </i>
      </p>
    </div>
  </section>

</div> <!--end main-content-->
