
$('#results').html(
    function () {
        return (
            '<%= j render partial: 'pages/results',
                          locals: {
                            results: @results,
                          }
                          %>'
        );
    }
);


$('#action-buttons').html(
    function () {
        return (
            '<%= j render partial: 'pages/copy_button',
                          locals: {
                            results: @results,
                          }
                          %>'
        );
    }
);


initCopyText();