<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129396772-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129396772-1');
  </script>

  <%= render 'application/favicon' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Fun app to jumble words in any phrase!">
  <meta name="keywords" content="gibberish, jumble, words">
  <meta name="author" content="">

  <title>Jbbrsh</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag 'application',
                          "https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Muli",
                          media:                  'all'
  %>

  <!-- Bootstrap core JavaScript -->
  <%= javascript_include_tag "application" %>
</head>

<body>

<!-- Page Content -->
<%= yield %>

<footer>
  <div class="row text-center">
    <div class="col small instructions">
      Ceeratd by <%= link_to '@xiankt', 'https://twitter.com/xiankt' %>
    </div>
  </div>
</footer>

</body>

</html>

